{% extends 'base.html.twig' %}

{% block body %}
    <body>
        {#<div class="container-input">#}
            {#<h1>Maak een nieuwe reservering aan</h1>#}
            {#<p>#}
                {#{% for error in texts.error %}#}
                    {#{{ error }}<br />#}
                {#{% endfor %}#}
            {#</p>#}
            {#{{ form_start(formBooking) }}#}
            {#{{ form_widget(formBooking) }}#}
            {#{{ form_end(formBooking) }}#}
        {#</div>#}

        <div id="scheduler_here" class="dhx_cal_container" style='width:100%; height:100%;'>
            <div class="dhx_cal_navline">
                <div class="dhx_cal_prev_button">&nbsp;</div>
                <div class="dhx_cal_next_button">&nbsp;</div>
                <div class="dhx_cal_today_button"></div>
                <div class="dhx_cal_date"></div>
                <div class="dhx_cal_tab" name="day_tab" style="right:204px;"></div>
                <div class="dhx_cal_tab" name="week_tab" style="right:140px;"></div>
                <div class="dhx_cal_tab" name="month_tab" style="right:76px;"></div>
            </div>
            <div class="dhx_cal_header"></div>
            <div class="dhx_cal_data"></div>
        </div>
        <script>
            var events = [];
            $(document).ready(function(){

                $.ajax({
                    url: "/app/reservations",
                    cache: false,
                    dataType: 'json',
                }).done(function(data){
                    var key, count = 0;
                    for(key in data){
                        if(data.hasOwnProperty(key)) {
                            var text = data[key].name + " " + data[key].lastname;//yyyy-MM-dd HH:mm:s
                            var expDate = data[key].date.date.split(" ")[0].split("-");
                            var expStartTime = data[key].startTime.date.split(" ")[1].split(".")[0].split(":");
                            var expEndTime = data[key].endTime.date.split(" ")[1].split(".")[0].split(":");
                            var startDate = expDate[1]+"/"+expDate[2]+"/"+expDate[0]+" "+expStartTime[0]+":"+expStartTime[1];//new Date(expDate[0],expDate[1],expDate[2],expStartTime[0],expStartTime[1],expStartTime[2]);
                            var endDate = expDate[1]+"/"+expDate[2]+"/"+expDate[0]+" "+expEndTime[0]+":"+expEndTime[1];//new Date(expDate[0],expDate[1],expDate[2],expEndTime[0],expEndTime[1],expEndTime[2]);

                            events.push({id:parseInt(key), text:text,   start_date:startDate,end_date:endDate});

                        }
                    }
                    events.clean(undefined);
                    scheduler.init('scheduler_here', new Date(),"month");
                    console.log(events);

                    scheduler.parse(events, "json");

                });

//                events = [
//                    {id:1, text:"Meeting",   start_date:"06/11/2015 14:00",end_date:"06/11/2015 17:00"},
//                    {id:2, text:"Conference",start_date:"06/15/2015 12:00",end_date:"06/15/2015 19:00"},
//                    {id:3, text:"Interview", start_date:"06/24/2015 09:00",end_date:"06/24/2015 10:00"}
//                ];
                console.log(events);
            });
            Array.prototype.clean = function(deleteValue) {
                for (var i = 0; i < this.length; i++) {
                    if (this[i] == deleteValue) {
                        this.splice(i, 1);
                        i--;
                    }
                }
                return this;
            };
        </script>
    </body>
{% endblock %}