{% extends 'base.html.twig' %}

{% block body %}
    {% if available_room is defined %}
        <h1>Beschikbare kamers</h1>
        {% for book in available_room  %}
            <ul>
                <li>
                  <label>ID: </label>  {{ book.id }}
                  <label>NAAM: </label> {{ book.name }}
                  <label>ZITPLEKKEN: </label>{{ book.seats}}
                </li>
            </ul>


        {% endfor %}
    {% endif %}
{% endblock %}
