@import "http://fonts.googleapis.com/css?family=Open+Sans:400,300";
h1, h2, h3,h4 ,h5{
    font-family: "Open Sans",sans-serif;
}
.admin-container{
    width: 100%;
    height: 100%;
    background: #0072C6;
}
.login-form{
    position:fixed;
    top: 40%;
    left: 50%;
    /*margin-top: -50px;*/
    /*margin-left: -100px;*/
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%); /* IE 9 */
    -webkit-transform: translate(-50%, -50%); /* Safari */
    width: 550px;
    min-height: 400px;
    height: auto;
    padding: 10px 0px 20px 0px;
    background: #fff;
    -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
}


.login-form .login_button{
    width: 100%;
    background: #4A89DC;
    background-image: -webkit-linear-gradient(top, #4A89DC, #4A89DC);
    background-image: -moz-linear-gradient(top, #4A89DC, #4A89DC);
    background-image: -ms-linear-gradient(top, #4A89DC, #4A89DC);
    background-image: -o-linear-gradient(top, #4A89DC, #4A89DC);
    background-image: linear-gradient(to bottom, #4A89DC, #4A89DC);
    -webkit-border-radius: 3;
    -moz-border-radius: 3;
    border-radius: 3px;
    font-family: "Open Sans",sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    transition: 1000ms;
}

.login-form .login_button:hover{

    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
    transition: 1000ms;
}

.login-form h2{
    color: #368EE0;
    font-size: 18px;
    font-weight: 300;
    padding: 10px 0 10px 0;
}

.login-form .login-body{
    padding: 0 40px 20px 40px;
}

.login-form .header-img{
    background: url('/img/logo-m4m.png') no-repeat center;
    width: 100%;
    height: 100px;
    z-index: 1;
    margin: auto;
    transition: 2000ms;
    border-bottom: 1px solid #DADADA;
}

.admin-container .header-img:hover{
    background-color: #fff;
    transition: 1000ms;
}

.container-box{
    display: block;
    margin: 0;
    height: auto;
    position: absolute;
    top: 80px;
    bottom: 0;
    left: 0.5%;
    right:0.5%;
    overflow: hidden;

}

.container-addRoom, .container-room, .container-scheduler{
    display: inline-block;
    width: 33%;
    padding: 15px;
    transition: 500ms;
    height: 10px;
    overflow: auto;
}


.container-scheduler li{
    list-style: none;
}

#form_save{
    margin-top: 25px;
}

.container-scheduler .items{
    /*max-height: 800px;*/
    z-index: 1;
}

.title h2{
    width: 300px;
    color: #fff;
    padding: 25px;
    transition: 1000ms;
    cursor: default;
    font-size: 20px;
}

.title h2:hover{
    color: #3FA2D8;
    transition: 1000ms;
}


.archive{

}

