.dhx_wrap_section{
    display: none;
}
.dhx_cancel_btn_set{
    /*display: none;*/
}
.dhx_cal_ltitle{
    font-size: 20px;
}

.dhx_btn_set, .dhx_btn_set div{
    /*display: none;*/
}

.dhx_delete_btn{
    /*display: none;*/
}
.dhx_cal_cover{
    display: none;
}

.dhx_scale_bar{
    cursor: default;
}

.dhx_cal_event_line {
    height: 20px;
    z-index: 1;
    -webkit-transition: height 500ms;
    transition: height 500ms;
}
.dhx_cal_event_line:hover{
    height: 80px;
    z-index: 2;
}
.dhx_cal_tab, .dhx_cal_today_button{
    display: none;
}
.dhx_cal_prev_button{
    left: 14px;
}
.dhx_month_head{
    font-size: 16px;
    color: #0072C6;
}
.dhx_cal_event_line{
    padding-left: 2px;
}
/*.dhx_cal_event_line .dhx_event_resize{*/
    /*background: #EAEAEA;*/
/*}*/
.dhx_cal_event_line .dhx_event_resize{
    width: 0;
    display: none;
}

/*.dhx_now .dhx_month_body, .dhx_now .dhx_month_head{*/
    /*background: #F59C00;*/
/*}*/


@media (max-width: 500px) {
    .dhx_cal_event_line {
        font-size: 10px;
    }
    .dhx_cal_event_line strong{
        font-size: 10px;
        font-weight: normal;
        /*border-bottom: solid 1px #FFF;*/
    }
    .dhx_cal_event_line:hover{
        min-width: 100px;
    }
}
