.dhx_wrap_section{
    display: none;
}
.dhx_cancel_btn_set{
    /*display: none;*/
}
.dhx_cal_ltitle{
    font-size: 20px;
}

.dhx_btn_set, .dhx_btn_set div{
    /*display: none;*/
}

.dhx_delete_btn{
    /*display: none;*/
}
.dhx_cal_cover{
    display: none;
}

.dhx_scale_bar{
    cursor: default;
}

.dhx_cal_event_line {
    height: 66px;
}
.dhx_cal_tab{
    display: none;
}

@media (max-width: 500px) {
    .dhx_cal_event_line {
        font-size: 10px;
    }
    .dhx_cal_event_line strong{
        font-size: 10px;
        font-weight: 0;
        border-bottom: solid 1px #FFF;
    }
}
