@media (max-width: 1200px) {
    .container-room{
        padding: 5px;
        margin: 0px;
        z-index: 1;
    }

    .container-scheduler{
        padding: 5px;
        margin: 0px;
        z-index: 1;

    }
}

@media (max-width: 1000px){
    .cbp-spmenu-vertical {
        width: 100%;
        overflow: auto;
    }
    .cbp-spmenu-left {
        left: -100%;
    }
    .header-img{
        display:none;
    }

}
@media (max-width: 800px){
    .container-input {
        min-width: 100%;
        max-width: 100%;
    }

}


@media (max-width: 650px){
    .container-input{
        position: relative;
        margin: 0px 0 0 0 ;
    }
    .menu_bttn{
        margin: 0px 0 0 20px;
        padding-top: 20px;
        font-size: 15px;
        display: block;
    }
    .menu_bttn_change{
        font-size: 15px;
        display: block;
        margin: 10px 0 0 20px;
    }
}
