@import "http://fonts.googleapis.com/css?family=Open+Sans:400,300";

h1, h2, h3,h4 ,h5{
    font-family: "Open Sans",sans-serif;
}
html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-y: hidden;
}

.container-input{
    margin: -20px 0 0 0 ;
    width: 100%;
    min-width: 800px;
    background: #0072C6;
    height: 100px;
    position: relative;
    z-index: 999;
}

.container-input h1{
    padding: 30px;
    font-size: 25px;
    color: #fff;
    text-align: center;
}

.container-input .header-img{
    position: absolute;
    background: url('/img/logo-white-trans.png')  no-repeat ;
    width:355px;
    height: 101px;
    z-index: 1;
    right: 0;
    top: 15px;
}

.container-input .required{
    color:   #fff;
}

.container-agenda{
    margin: auto;
    float: left;
    background: #000;
}

.container-input p{
    color: #fff;
}

.create-Form{
    width: 100%;
    margin: auto;
    padding: 20px;
}


#form_timeStart select{
    outline:none;
}

#form_save{
    transition: 500ms;
}

#form_save:hover{
    background: #EEEEEE;
    color: #000;
    transition: 100ms;
}

#form_timeEnd{
    margin-bottom: 25px;
}

.required{
    color: #000;
    font-size: 15px;
    font-weight: 400;
    font-family: "Open Sans",sans-serif;
}

.form-control:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#responseText{
    margin: 15px 0 0 0;
}

#responseText #error{
    background: #fff;
    padding: 5px;
}

.menu_bttn, .menu_bttn_change{
    background: none;
    border: none;
    display: inline-block;
    margin: 40px 0 0 20px;
    font-family: "Open Sans",sans-serif;
    color: #fff;
    font-size: 20px;
    transition: 500ms;
    width: auto;
    cursor: pointer;
}
.menu_bttn:hover, .menu_bttn_change:hover{
    color: #3FA2D8;
    transition: 0ms;
}
.roomsMenu{
    position: absolute;
    width: 100%;
    top: 80px;
    text-align: center;
}
.roomsMenu .room{
    color: #bbbbbb;
    padding: 5px;
    cursor: pointer;
    transition: color 500ms;
    -webkit-transition: color 500ms;
}
.roomsMenu .room:hover{
    transition: color 0ms;
    -webkit-transition: color 0ms;
    color: #FFF;
}
.roomsMenu .room.selectedRoom{
    font-weight: bold;
    /*text-decoration: underline;*/
    color: #fff;
}