html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

.container-input{
    margin: -20px 0 0 0 ;
    width: 100%;
    background: #3D3C41;
    height: 10%;
    position: relative;
    z-index: 999;
}

.container-input h1{
    padding: 30px;
    font-size: 25px;
    color: #fff;
    text-align: center;
}

.container-input .header-img{
    background: url('/img/logo-white-trans.png')  ;
    background-size:cover;
    width: 321px;
    height: 71px;
    z-index: 999;
    position: absolute;
    left: 1px;
}

.container-input .required{
 color:   #fff;
}

.container-agenda{
    margin: auto;
    float: left;
    background: #000;
}

.container-input p{
    color: #fff;
}

.create-Form{
    width: 100%;
    margin: auto;
    padding: 20px;
}

.main > section button {
    border: none;
    background: #3D3C41;
    color: #fff;
    padding: 1.5em;
    display: block;
    width: 10%;
    cursor: pointer;
    font-size: 1.0em;
    z-index: 9999;
    /*float: right;*/
    margin: 20px 0 0 50%;
}

